<section class="container alinhar">
    <h1>Olá mundo!</h1>
    <img src="../../assets/img/lilla.jpg" class="img-fluid imagem" alt="Imagem responsiva">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Cum ipsa, maiores veritatis, voluptatibus optio
        eligendi eius voluptate vel quis quos magni quam alias nisi.
        Iiusto tempore expedita fugiat culpa! Laudantium?
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Cum ipsa, maiores veritatis, voluptatibus optio
        eligendi eius voluptate vel quis quos magni quam alias nisi.
        Iiusto tempore expedita fugiat culpa! Laudantium?
    </p>
    <button type="button" class="btn btn-primary botao" routerLink='/feed'>Ver o feed</button>
</section>