<form class="container text-center">
    <h3 class="titulo">Cadastre-se</h3>
    <div class="form-group">
        <label for="name">Nome Completo</label>
        <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Nome" maxlength="50">
    </div>
    <div class="form-group">
        <label for="email">Endereço de E-mail</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="E-mail"
            maxlength="50">
    </div>
    <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" class="form-control" id="password" placeholder="Senha" maxlength="8">
    </div>
    <button type="submit" class="btn botao">Enviar</button>
</form>