<footer class="container-fluid footer">
    <div>
        <p>Siga-nos nas redes sociais</p>
        <ul>
            <li>
                <a href="https://www.facebook.com/lirianbordignon" target="_blank">
                    <fa-icon [icon]="faFacebook" height="30"></fa-icon>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/lillabordignon" target="_blank">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/lirianbordignon" target="_blank">
                    <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
            </li>
        </ul>
    </div>
    <p id="copyright">&copy; 2020 Lirian Bordignon</p>
</footer>