@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

header{
    border-bottom: 1px solid #BA9F90;
}
.navegacao{
    margin: 0 auto;
    padding: 20px 0;
}

.navegacao a{
    font-weight: 600;
    font-size: 18px;
    color: #C38578;
    margin: 0 10px;
}

.navegacao a:hover{
    color: #594B3F;
}